DATABASE_URL="postgresql://postgres.siqfhdosimjddbhcztug:SubastUP2026@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.siqfhdosimjddbhcztug:SubastUP2026@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

JWT_SECRET=subastup-secret-2026
JWT_EXPIRES_IN=7d

DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=subastup
DB_USER=sa
DB_PASSWORD=SubastUP2026!

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=48b61b1995f066
MAIL_PASS=fecc11bed31090
MAIL_FROM=noreply@subastup.com

VERIFY_CODE_EXPIRY_MINUTES=15
PORT=3000


